@model Bookcase.ViewModel.BookViewModel
<div class="modal-header">
    <h4 class="modal-title">Details</h4>
</div>

<div class="modal-body">
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.PublishingHouse)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>
</div>
<div class="modal-footer">
    @Html.ActionLink("OK", "Index", null, new { @class = "btn btn-default", type = "button" })
</div>
